In [1]:
%matplotlib inline
%env OMP_NUM_THREADS=10 
%pylab inline 
%load_ext autoreload
%autoreload 2
plt.rcParams['figure.figsize'] = [12, 12]

env: OMP_NUM_THREADS=10
%pylab is deprecated, use %matplotlib inline and import the required libraries.
Populating the interactive namespace from numpy and matplotlib

In [2]:
# based on this article
#https://www.python.ambitious-engineer.com/archives/745

In [3]:
import sqlite3

In [4]:
conn = sqlite3.connect('sample.sqlite3')

# カーソルを取得
c = conn.cursor()

In [5]:
c.execute('CREATE TABLE articles  (id int, title varchar(1024), body text, created datetime)')

OperationalError: table articles already exists

In [6]:
# Insert実行
c.execute("INSERT INTO articles VALUES (1,'今朝のおかず','魚を食べました','2020-02-01 00:00:00')")
c.execute("INSERT INTO articles VALUES (2,'今日のお昼ごはん','カレーを食べました','2020-02-02 00:00:00')")
c.execute("INSERT INTO articles VALUES (3,'今夜の夕食','夕食はハンバーグでした','2020-02-03 00:00:00')")
 
# コミット
conn.commit()
 
# コネクションをクローズ
conn.close()